.button {
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: rgb(59, 59, 163);
  }
}

.primary {
  border: 0.5px solid #fff;
  background: none;
}

.secondary {
  border: none;
  background: rgb(14, 14, 78);
}
