* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.messageBlock {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
